.container {
    width: 470px;
    height: 80px;
    border: 1px solid black;
    padding: 6px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.container div {
    background-color: #2ecc71;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}