.container {
    width: 470px;
    height: 280px;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    width: 70px;
    height: 70px;
    background-color: #3498db;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}